.Page {
	position: relative;

	/* background-image: url('../../../assets/bg/bg2.png'); */
	background-color: #f9f7e8;
	min-height: 100vh;
	max-height: 100vh;
	margin: 0%;
}

.rascal {
	position: relative;
	padding: 6%;
	padding-top: 6%;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;

	z-index: 1;
}


.mb2 {
	
	width: 100%;
	display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
	width: 60%;
	margin: auto;
	padding-top: 8%;
}
